/* Style the tab */
body{
  width: 1140px;
}
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .shadow-one,.shadow-two,.shadow-three{
    background: linear-gradient(to top left,#ffffe0 62%, #ffff00 150%);
    height: 100px;
    width: 175px;
    position: absolute;
    z-index: -1;
    transform: skew(-60deg, 29deg);
    top: 0px;
  }
  .shadow-one{
    left: 100px;
  }
  .shadow-two{
    left: 482px;
  }
  .shadow-three{
    right: 100px;
  }
  .bottom {
    background: #fff;
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50px;
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  #clone{
    margin-top: 20px;
  }
  .custom-btn{
    height: 50px;
    width: 50px;
    background: red;
    border: red;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 0;
    border: none;
    position: relative;
    margin-top: 30px;
  }

  /* style for accordion */
  .accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid transparent;
  }

  
  .active, .accordion:hover {
    border: 1px solid #ddd;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    /* background-color: white; */
    overflow: hidden;
  }
  /* form style */
  input[type="input"]{
      height: 40px;
      width: 80%;
      margin-top: 20px;
      background: transparent;
  }
  input[type="checkbox"]{
    margin-left: 20px;
  }
  /* style code for tab 3 */
  .d-50{
      width: 50%;
      float: left;
  }
  .relative{
      position: relative;
  }
  .fa{
      font-size: 32px;
      padding-top: 6px;
      height: 50px;
      width: 50px;
      text-align: center;
      background: #fff;
  }
  a{
      color: #f48338;
  }
  .text-right{
      text-align: right;
  }
  .logo{
      height: 50px;
      width: 50px;
  }
  .home{
    font-size: 32px;
  }
  #container {
    position: relative;
  }
  #animate {
    position: absolute;
    width: 50px;
    height: 50px;
    position: absolute;
    top:40px;
    right: 0;
  }
  img.logo.anime {
    position: absolute;
    top: -40px;
    right: 0;
    z-index: -1;
}

.tab button {
  height: 120px;
  width: 33.33%;
  background: url(pic_bulboff.gif);
  background-size: 60px 100px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.tab button.active {
  height: 120px;
  width: 33.33%;
  background: url(pic_bulbon.gif);
  background-size: 60px 100px;
  background-repeat: no-repeat;
  background-position: center;
}
